*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --couleur-secondaire: rgba(124, 119, 123, 0.775);
    --couleur-test: #ad3f7a;
    ----couleur-texte: #f8f9fa;
}
body{
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.95) ;
    position: sticky;
    top: 0;
    padding: 30px;
}
header h2 {
    color: var(--couleur-test);
}

.essayer{
    background-color: var(--couleur-test);
    color: var(----couleur-texte);
    border-radius: 8px;
    padding: 12px 24px;
    border: none;
}
.essayer:hover{
    background-color: #8a3261;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}
.tester{
    background-color: var(----couleur-texte);
    color: var(----couleur-secondaire);
    border-radius: 8px;
    padding: 12px 24px;
    border: 2px solid var(--couleur-test);
}
.tester:hover{
     background-color: var(--couleur-test);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}
.buttons{
    display: flex;
    justify-content: start;
    gap: 30px;
    margin-top: 20px;
}
.intro{
    padding: 30px;
    border: 1px solid var(--couleur-test);
    margin: 15px;
    border-radius: 8px;
}
.presentation{
    padding: 30px;
    border: 1px solid var(--couleur-test);
    margin: 15px;
    border-radius: 8px;
}
.presentation h1{
    margin-bottom: 20px;
    font-size: 50px;
}
.img-hero{
    display: flex;
    justify-content: center;
}

/* section des commentaires */

.commentaires{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.comment-carte{
    display: flex;
    flex-direction: column;
    background-color: rgb(201, 195, 195);
    border-radius: 15px;
    padding: 12px;
}
.noma{
    display: flex;
    justify-content: left;
}
.noma img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}
.noma div {
    margin-top: 10px;
}
.comment{
    padding: 30px;
    border: 1px solid var(--couleur-test);
    margin: 15px;
    border-radius: 8px;

}
.comment h1{
    text-align: center;
    margin-bottom: 25px;
}

/* section des fonctionnalites */
.fonction{
    background-color: rgba(233, 226, 226, 0.812);
    text-align: center;
}
.icone{
    border-radius: 50%;
    background-color: var(--couleur-test);
    width: 40px;
    height: 40px;


}
.fonction-carte{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--couleur-secondaire);
    border: 1px double var(--couleur-test);
    border-radius: 18px;
    padding: 12px;

}
.fonc-div{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 15px;

}

/* section tarif */

.tarif {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--couleur-test);
    border-radius: 12px;
    margin: 12px;
    padding: 15px;

}
.tarif,h1, p {
    text-align: center;
}

.tarif-carte{
    border: 4px double var(--couleur-test);
    text-align: center;
    width: 400px;
    height: 400px;
    border-radius: 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap:15px;
}
.promo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

}
.btn-cont{
   margin-top: 130px;
}
.table{
    border-bottom: 2px solid black;
    text-align: left;
    padding: 10px;

}
.special {background-color: var(--couleur-secondaire);
color: white;}

/* section d'invitation */

.pret{
    text-align: center;
    display: block;
    padding: 50px;
    background-color: var(--couleur-test);
    color: white;
}
.inscription{
    margin: 20px;
    padding: 12px 24px;
    border-radius: 12px;
    color: rgb(111, 87, 103);
}
.inscription:hover{
    border: 2px solid white;
    background-color: #682b4c;
    color: white;
}

/* pied de la page  */

footer{
    color: var(--couleur-test);
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    margin: 20px;
}

/* responsive */
@media (min-width: 900px) {
    .intro {
        display: flex;
        flex-direction: row;
    }

    .grille-fonctionnalites,
    .grille-testimonials,
    .grille-pricing {
        grid-template-columns: 1fr;
    }

    .fonc-div {
       flex-direction: row;
    }

    .commentaires {
        flex-direction: row;
    }

    .promo{
        flex-direction: row;
    }
}